.relative-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.panel-container {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}


.rowContentContainer {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:1px;
}

.rowHandleBarContainer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:1px;
    background:red;
}


.columnContentContainer {
    position:absolute;
    top:0;
    left:0;
    right:1px;
    bottom:0;
}

.columnHandleBarContainer {
    position:absolute;
    bottom:0;
    top:0;
    right:0;
    width:1px;
    background:red;
}

