.titleContainer {
    position:absolute;
    width:100%;
    top:0;
    bottom:1px;
    display: flex;
    align-items: center;
    color:#bbbbbb;
    justify-content: space-between;
    background: #222425;
}

.titleContainer > .title {
    padding-left: 30px;
    font-size: 11px;
}

.titleContainer > .close {
    padding-right: 15px;
    font-size: 11px;
    cursor: pointer;
}