.rowContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.handleBarHorizontal {
    width:100%;
    height: 3px;
    background-color: #414141;
}

.handleBarHorizontal:hover {
    background-color: #007acc;
    cursor: ns-resize;
}

.contentHorizontal {
    flex: 1;
    height: 100%;
}