$handle-bar-color: #414141;
$handle-bar-size: 1px;
$handle-bar-size-expanded: 5px;
$handle-bar-hover-color: #007acc;

// Creates the container which will hold the handle bar
.handleBarHorizontalContainer {
    position:relative;
    width:100%;
    height: $handle-bar-size;
    background-color: $handle-bar-color;
}

// Create handle bar and center it 
.handleBarHorizontal{
    position:absolute;
    top: 50%;
    height: $handle-bar-size;
    left:0;
    right:0;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

// Update the height and let it animate
.handleBarHorizontal:hover {
    background-color: $handle-bar-hover-color;
    cursor: ns-resize; 
    height: $handle-bar-size-expanded;
    z-index: 10;
}

// Set by the component so hover is active even
// when mouse isn't over handle during drag
.handleBarHorizontalHover {
    background-color: $handle-bar-hover-color;
    cursor: ns-resize; 
    height: $handle-bar-size-expanded;
    z-index: 10;
}


// See horizontal style comments, they are the same for vertical
.handleBarVerticalContainer {
    position:relative;
    height:100%;
    width: $handle-bar-size;
    background-color: $handle-bar-color;
    z-index: 1;
}

.handleBarVertical{
    position: absolute;
    top: 0;
    width: $handle-bar-size;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.handleBarVertical:hover {
    background-color: $handle-bar-hover-color;
    cursor: ew-resize; 
    width: $handle-bar-size-expanded;
    z-index: 10;
}

.handleBarVerticalHover {
    background-color: $handle-bar-hover-color;
    cursor: ew-resize; 
    width: $handle-bar-size-expanded;
    z-index: 10;
}
